[2017-02-11 19:35] jackditto opened #1 "UnboundLocalError: local variable 'accept' referenced before assignment"
I just want to say I love this project and what y'all are doing here. I followed all the instructions and built this program, and then I set it up to listen. However, when I connected to it from another Mac on my LAN, I got an error:

Traceback (most recent call last):
  File "./Control Center.py", line 606, in <module>
    main()
  File "./Control Center.py", line 203, in main
    if(accept):
Unb

[2017-02-11 19:46] manwhoami commented on #1
Quite peculiar. I am looking into the issue. If you would like a temporary work around, you can disable the socket encryption.

It goes without saying that this is not recommended!!!

To do this, in `Bella.py`, replace `bellaConnection = ssl.wrap_socket(sock, ssl_version=ssl.PROTOCOL_TLSv1, cert_reqs=ssl.CERT_NONE)` with `bellaConnection = sock`

and in `Control Center.py`, replace line 190, the l

[2017-02-11 21:10] manwhoami commented on #1
Hey, do you think you could post a stack traceback of the exception?
[code]

[2017-02-12 04:58] standarsh174 opened #2 "passwords containing whitespace in iCloud_phish command"
you guys may already be aware, but passwords containing whitespace will fail in the iCloud_phish command.  It will return the first "word" only.

[2017-02-12 06:00] JPaulMora opened #3 "Bella doesn't support UTF-8 encoding"
[code]

[2017-02-12 17:22] manwhoami commented on #3
Interesting, I wonder if it is retrieving the correct decryption key from the keychain? Your Auth Token shouldn't have any unicode in it.

If you run this program here `https://github.com/manwhoami/MMeTokenDecrypt` does it return a token successfully?

[2017-02-12 17:23] manwhoami commented on #2
Thanks for heads up, will get working on a fix!

[2017-02-12 17:54] JPaulMora commented on #3
Thanks for your quick response, will try MMETD and report back

[2017-02-12 22:03] manwhoami commented on #2
Fixed. Patch submitted.

[2017-02-12 22:03] #2 closed

[2017-02-12 23:43] xSynthx opened #4 "sed: can't read : No such file or directory"
When I try to build bella, I get this error
[code]

[2017-02-12 23:45] manwhoami commented on #4
You appear to be building on a non-macOS machine. This is not supported yet.

[2017-02-13 05:48] xSynthx commented on #4
So could I build Bella on my mac and then transfer the files to my VPS (Debian)?
The main reason I ask is because I can't port forward on my wifi

[2017-02-13 06:21] manwhoami commented on #4
So the builder is not compatible with Linux. If you build on macOS, you may be able to run the Control Center on a linux box. I have not tested with Linux yet, so I am not sure if it will work or not. I will have a patch for the Control Center and Builder to work on Linux within in a few days.

I will post here when that is done.

[2017-02-13 11:45] xSynthx commented on #4
It did not work :( I cant wait for you to update it so we can build and run it on debian/linux! Thank you so very much :) :) :)

[2017-02-13 19:45] manwhoami commented on #4
I have added support for Linux for both the builder and control center. Let me know how it works.

[2017-02-13 21:04] drtaru opened #5 "Error building"
when building bella I get the following error.

`Configuring your Bella installation`
`sed: 1: "Builds/02-13@13_02/bell ...": invalid command code B`
`sed: 1: "Builds/02-13@13_02/bell ...": invalid command code B`
`sed: 1: "Builds/02-13@13_02/bell ...": invalid command code B`
`sed: 1: "Builds/02-13@13_02/bell ...": invalid command code B`
`sed: 1: "Builds/02-13@13_02/bell ...": invalid command co

[2017-02-13 21:11] manwhoami commented on #5
Had a typo in the last commit. Please re-download

[2017-02-13 21:11] #5 closed

[2017-02-14 03:22] BlackDeveraux opened #6 "Losing Clients after Reboot"
Greetings,

I've been able to gain root access on a number of computers I'm testing Bella on. However, even with root privileges, I lose my clients after they reboot their machine.

Any thoughts?

[2017-02-14 03:28] manwhoami commented on #6
Hmm, peculiar. Two possibilities:
1.) The LaunchDaemon isn't loading for some reason.
2.) The LaunchDaemon is loading, but Bella is not connecting to the CC.

On the clients, can you run `ps aux | grep python` in a terminal and post the output here? Also, run `launchctl list | grep Bella` and post that output.

[2017-02-14 03:31] BlackDeveraux commented on #6
I had 3 clients earlier with root access, and two of them are now lost (just thought I'd share).
Here are the results on the remaining client:
<img width="870" alt="screen shot 2017-02-14 at 11 30 00 am" src="https://cloud.githubusercontent.com/assets/7029790/22913980/0c984e2e-f2a9-11e6-8660-fd2d8b660995.png">

[2017-02-14 03:47] manwhoami commented on #6
Okay, so all is good with the Launch Daemons. Bella itself is running. If you'd be interested in helping debug, that'd be great.

After this line on the top of Bella, ```<key>StartInterval</key>
<integer>5</integer>``` can you add this line. It will help debug.

[code]

Then in BUILDER, comment out these two lines

```sed -i "s@\(^[[:space:]]*\)\(print.*$\)@@g" $BuildsPath/bella.py```
```sed -i ''

[2017-02-14 03:48] BlackDeveraux commented on #6
I'd love to, I'll get back to you soon.

[2017-02-14 03:56] manwhoami commented on #6
Oh, quick update. I realize that you posted results for the remaining client. To see what is going on, you need to post results for the clients that you lost (this would require physically going to the machines and running the `ps aux...` , etc, commands.

[2017-02-14 04:05] BlackDeveraux commented on #6
Haha, you had me wondering :)
I'll let you know when I'm able to run the diagnostics.

[2017-02-14 17:49] xSynthx commented on #4
Okay, when the builder makes the payload on linux machine, does it make the payload a linux one, or a mac payload?

[2017-02-14 17:50] xSynthx commented on #4
and also, is there a way that I can contact you in a quicker way?
Twitter: _Synthx
Discord: کyпTђҳ ムツヲ#1356
Chat live on my website: http://synthx.pw

[2017-02-14 18:08] xSynthx commented on #4
Well, I generated the payload on my VPS (Debian), and downloaded the folder to my desktop, ran the command thing, and it opened terminal and did everything, I checked to see the launchagents, it was there, then I checked in Containers, it was also there, but when I would go onto my VPS, my client (ME) isnt there. I created a payload on my mac, and had it connect back to my mac, ran the payload and

[2017-02-14 18:14] xSynthx commented on #4
I also have something else, when it says found clients, I get a new line, but its just blank?!? am I supposed to run a command or something?
![screen shot 2017-02-14 at 12 11 19 pm](https://cloud.githubusercontent.com/assets/25438703/22942434/2e47526c-f2af-11e6-8dbf-4d87229d3980.png)

[2017-02-14 18:50] manwhoami commented on #4
Regardless of where you run the Builder, it makes a payload for macOS. Bella is integrated deeply with macOS internals, and I have no plans (at the moment) for porting the actual payload over to linux.

The Control Center will run any an *NIX based machine, so Linux and macOS.

There are two possible reasons why Bella is not connecting to your VPS:
1.) Your VPS is blocking Bella through its firewa

[2017-02-14 20:48] Skeyelab commented on #1
I too am getting this error.  My control center is installed on a VM on digital ocean and I can port scan it and see the port is open, but when I do, CC crashes with

[code]

[2017-02-14 21:43] manwhoami commented on #1
Can I get more information about your setup? Should work [and as ive tested does work] fine on a Digital ocean instance.

This error occurs when you get an IOError when generating certificates to encrypt the file, an IOError than is not 2 [no file or directory exists].

I have updated the Control Center to print and raise the exception that is causing this.

Please re-download the CC and let me kn

[2017-02-14 23:10] xSynthx commented on #4
1) I know for a matter of fact this is not the problem as I have used EggShell, and I have also used pupy and they have both been successful in working, I also have every single port open especially when I run pupy, eggshell, nc, and bella with `sudo` I have to use it with `sudo` or else it wont let me connect, I think it drops a error like `Cannot bind on 0.0.0.0:0` something like that.

2) I kno

[2017-02-15 00:03] manwhoami commented on #4
Sorry, I think I misunderstood. So you can connect? When you see found clients, press `CTRL-C` . you should then get a prompt that says `Enter ID to initiate connection`. Then type in the number of the client you want. You should then get something like this
[code]
where you can start entering commands

[2017-02-15 00:58] Skeyelab opened #8 "suggestion - copy vs move"
Can you make it so if one was to place the generated Bella file on an external disk (USB key) and run it from there, it copies to the destination, as opposed to move it?

[2017-02-15 01:15] xSynthx commented on #4
okay, cool, I just didnt understand what to do when the client connected *maybe add that to the README.md*!

[2017-02-15 01:33] manwhoami commented on #4
It's at the beginning of step 5 :)

[2017-02-15 01:34] xSynthx commented on #4
Was it always there? If so, I read over it. *highly possible*

[2017-02-15 01:37] manwhoami commented on #4
GitHub has version control, so you can actually see any edits if you go to "commits". Been there since release. Happens to the best of us!

[2017-02-15 01:37] #4 closed

[2017-02-15 01:38] xSynthx commented on #4
well, I didnt even check that, I meant to, but I forget things VERY quickly :) thanks for everything!

[2017-02-15 02:01] manwhoami commented on #8
This is not an intended design feature of Bella. Its self installer / remover is part of the design.

If you would like to have this function, you can delete the following two lines from the builder:

```sed -i '' -e "s@development = True@development = False@" $BuildsPath/bella.py ```

```sed -i "s@development = True@development = False@" $BuildsPath/bella.py```

This will enable "developer" mode,

[2017-02-15 02:01] #8 closed

[2017-02-15 06:47] skyberry333 opened #9 "Bella not connecting to CC"
Hi, thank you for everything!
I had a little issue setting up Bella, not sure if I misunderstood the "How to use" part. For the most parts i just used the default setting except for Command and control, I put my IP address and run the build on another laptop in the same network. During the process there's no error occurred but I didn't see my another laptop popping up in the control center.
I'm no

[2017-02-15 15:07] manwhoami commented on #9
Reposting advice from [Issue #6]

----- Begin Repost -----

Hmm, peculiar. I do not have this issue. Two possibilities:
1.) The LaunchDaemon isn't loading for some reason.
2.) The LaunchDaemon is loading, but Bella is not connecting to the CC.

On the clients, can you run `ps aux | grep python` in a terminal and post the output here? Also, run `launchctl list | grep Bella` and post that output.

[2017-02-16 02:03] randomuser1234 opened #10 "VNC / Microphone issue"
I am having great success with Bella however there are two issues I continuously seem to run into.

1. I cannot get the VNC session to work. It gives me an IP and all that but I guess I am just confused on how it all works. Can you give a walkthrough on the VNC option?

2. The microphone always fails by saying could  not reach the launcher or something (sorry not able to test at the moment). Any i

[2017-02-16 03:02] manwhoami commented on #10
Glad to hear. Now that you mention it, if you are using a Linux machine for the Control Center, the microphone will not stream, because the decoder for the audio is a macOS only binary. I am working on a solution for this. A similar, but immediately fixable, problem would also happen with VNC if you are using a control center.

VNC & microphone should be the only things that at the moment will cau

[2017-02-16 06:36] skyberry333 commented on #9
@manwhoami This is the output.

[code]

I looked up my ip by using `curl ifconfig.me` which should be correct.

[2017-02-16 17:22] randomuser1234 commented on #10
That's good to hear! Thank you for explaining and I can't wait for it to be fixed!

One more question:

How does the persistence work with this? I know it's automatic but I'm confused when it's possible. If I am on a user with "Admin" access will persistence take hold automatically when the payload is dropped initially? I tested the get_system option on a very old Yosemite laptop and it worked gre

[2017-02-16 19:11] manwhoami commented on #10
Well, there are basically three things that can happen [short explanation] to run Bella as root.

When you run `get_root`

1. That happened on Yosemite because of Bella's built in Local Privilege Escalation Exploit for macOS <= 10.11.3. If you run `get_root` on any system <= 10.11.3, Bella will automatically escalate to root. Nothing else is required. Support for > 10.11.3 may be given in the futu

[2017-02-16 20:35] thehappydinoa opened #11 "Labels and User Switching [Enhancement]"
Hi, I really love what you are doing with Bella and I wanted to make a few suggestions. First, I think adding the ability to name clients would be amazing, right now I would have to change the client's hostname or memorize a bunch of host names. I tried doing this myself with no such luck, I hope you can do it. Second, I think it would be great if we could change users if we got the password for a

[2017-02-16 22:20] manwhoami commented on #11
Hey, thanks for the request. I added this feature. You will need to update your clients to this latest version. You can call this function through `set_client_name`.

Side-note: I am working on a function that will update client code in a clean fashion.

[2017-02-16 22:20] #11 closed

[2017-02-16 22:20] #10 closed

[2017-02-16 22:21] manwhoami commented on #9
It is possible a blocking process was opened. Try running `killall -9 python` on the Bella machine (through a non-bella connection), and seeing if it will connect then. If it does, then a blocking process was opened. If it doesn't, something else is going on.

[2017-02-16 22:29] thehappydinoa commented on #11
Thanks man!

[2017-02-17 05:00] Skeyelab opened #12 "feature request - remote change server IP"
I could foresee a time where I might want to move the destination server of my clients.  A feature to remotely update that would be nice.

[2017-02-17 06:20] manwhoami commented on #12
I added a feature to do this a few hours ago. 'update_server' will allow you to replace a Bella instance with a new build (which you can configure with a new IP)

[2017-02-17 06:20] #12 closed

[2017-02-17 13:34] thehappydinoa commented on #9
Hey, I am also having a similar issue, I tried to install Bella on a iMac running 10.11.4, it launches and deletes itself but it will not connect to CC. I have it running on about 10 Mac Book Airs running macOS 10.11.6. Hope you figure it out, thanks!

[2017-02-17 13:59] thehappydinoa opened #13 "D"

[2017-02-17 20:25] manwhoami commented on #13
Thank you for all the suggestions. I encourage as many as you have!

@ **changing folder name ... DONE**

@ **keylogger** . the ruby reference looks great. I will peek into that and see about integrating it with bella. I have been working with some c implementations, but they all require root access, which is less than ideal. this ruby one doesn't seem to, which is good.

@ **custom prompts** what

[2017-02-17 22:19] manwhoami commented on #9
I am looking into this issue. I will also be adding a debugging module to Bella so that easy bug reports can be generated.

[2017-02-17 23:47] manwhoami commented on #9
@thehappydinoa I have updated Bella with a debugging module. If you re download Bella, and in the builder, change the line at the top that says 'development=true', to 'development=false', and then build bella, and install on the iMac running 10.11.4, it should give you some information about what is going on.

Two log files will be placed in your Bella installation folder. Can you upload those aft

[2017-02-17 23:48] manwhoami commented on #6
Closing to inactivity.

To debug, change the line `development=false` to `development=true` in BUILDER. Rebuild, redistribute, post logs in Bella's folder

[2017-02-17 23:48] #6 closed

[2017-02-17 23:49] manwhoami commented on #3
Closing due to inactivity. Error is not related to lack of UTF encoding, as the token is pure ASCII.

[2017-02-17 23:50] manwhoami commented on #1
Closing to inactivity, as well as update that should solve problem.

[2017-02-17 23:50] #1 closed

[2017-02-17 23:53] JPaulMora commented on #3
Hey I found this: http://stackoverflow.com/questions/19833440/unicodeencodeerror-ascii-codec-cant-encode-character-u-xe9-in-position-7#19833471

[2017-02-18 00:26] manwhoami commented on #3
If you dig into the source code of Bella, you'll see that all communications between Bella and the CC are serialized. Unicode errors will only be raised in Bella ***if something else is already going wrong***.

In this case, something went wrong with the token extraction. The token decryption failed [likely due to a bad key], and it returned some binary junk. This junk was attempted to be decoded

[2017-02-18 00:26] #3 closed

[2017-02-18 06:08] JPaulMora commented on #3
Update: ok, I forgot to mention.. this error was displayed in Ubuntu 16 server, and it looks like the python environment is causing this error. by trying out the commands and features, I noticed you can't press "b" (as to type "bella_info") which is [another problem on its own](http://superuser.com/questions/297527/cant-type-the-b-letter-in-python-shell-in-os-x), that, again,  points to how python

[2017-02-18 07:06] manwhoami commented on #3
I believe I pushed a fix for this a few updates ago. Are you running the latest CC?

[2017-02-18 17:24] JPaulMora commented on #9
Don't know if its related, but sometimes bella (or python socket) hangs.. and since python is still running launchctl doesnt restart it. I know it would be hard to check where or when does it hang, so why not add a timeout for bella to quit (and relaunch via Launch Daemons)?

[2017-02-18 17:31] thehappydinoa commented on #13
@manwhoami, thanks so much for considering all my suggestions, just a little update, when I was talking about the custom prompts I meant like the keychain and iTunes ones you made, I was just hoping to be able to do './BUILDER Payload.py' or something and link to an image give it some text and have it inject into an application, it is painstaking to do in base64

[2017-02-18 18:26] #13 closed

[2017-02-18 18:29] JPaulMora commented on #3
OK, can confirm it works now. Updating my fork

[2017-02-18 19:48] manwhoami commented on #9
I believe that the last update or two to Bella should have resolved any blocking / hanging pipes. That being said, there are some very rare situations that *could* arise that would block the pipe. This is a tricky task. Try updating and let me know if it still hangs. I will look into launchctl methods for periodically flushing the server.

[2017-02-20 17:19] JPaulMora commented on #9
OK, I updated and bella seems to hang when ^C chrome_dump function.

[2017-02-21 02:29] manwhoami commented on #9
That is unlikely a blocking pipe, and is more likely related to the Control Center being confused as to what is going on. Please see the latest update, it may or may not fix your issue. It brings better CTRL-C usage, better error handling, and WAY faster data transport. See the note about updating old clients too.

[2017-02-21 02:29] #9 closed

[2017-02-21 13:55] JPaulMora commented on #9
Thanks, will update ASAP. I tested this chrome_dump error a little more, and it seems that when the server looses connection mid-function, it doesn't connect back.

[2017-02-21 15:07] manwhoami commented on #9
@JPaulMora can you post the exception it sends where it is crashing? There are no blocking calls in the chrome_dump function.

[2017-02-22 09:45] xSynthx opened #14 "iCloud_FMF ERROR"
I get this error when I run `iCloud_FMF`... I have root also
[code]

[2017-02-22 15:38] manwhoami commented on #14
I added some better error handling to this function. It will return a message if it cannot find any locations in the response dictionary. Let me know about any issues

[2017-02-22 15:38] #14 closed

[2017-02-22 22:13] xSynthx opened #15 "OH GOD?!?!??!"
Well, now that I have completely removed the old Bella folder, and got cloned the new updated version, when I run Control Center, I get this when I do `control` + `c` after a client has connected
[code]

[2017-02-22 22:17] xSynthx commented on #15
Also, can I suggest something to add, could you add a command that lets you take a picture through their camera? I would also suggest if you do add this, please make it to where the green light doesn't turn on when the picture is taken. I am almost 100% sure that root can do that.

[2017-02-22 22:28] xSynthx commented on #15
Also, I went and got the 1 version posted about 12 days ago, as it does not have this error!

[2017-02-22 22:53] xSynthx commented on #15
That version I think is a bit broken as, when I run a command *for example `pwd`* it gives a new line, but then I have to press enter again to get the output.

[2017-02-22 23:04] manwhoami commented on #15
You did not update your Bella server. If you look at the commit history, you can see that this is necessary to use the new CC. Update your bella server with the new builder / payload [not just the Control Center].
[code]
is derived from an old data serialization protocol that bella no longer follows.

Your issue with PWD should not happen if you update your bella server.

Also, it is not possible

[2017-02-22 23:04] #15 closed

[2017-02-22 23:14] xSynthx commented on #15
Does this mean I have to get a new session on my target?

[2017-02-22 23:15] xSynthx commented on #15
I mean, will I have to generate a new payload, and execute again?

[2017-02-22 23:22] xSynthx commented on #15
I also think you mis understood,I ran this command to delete Bella folder: `rm -R Bella` if that clears that up :/

[2017-02-22 23:59] manwhoami commented on #15
I think that is unlikely, given that the error you posted contains code that is only present on older versions of Bella.

Generate a new payload, and execute it on the target. Either do this physically, or remotely. To do it remotely using the Control Center, you have to use an older version of the Control Center, run the updateserver_yes command, and select the new payload you have generated. The

[2017-02-23 00:01] xSynthx commented on #15
okay, stay here

[2017-02-23 00:01] xSynthx commented on #15
please wait

[2017-02-23 00:02] xSynthx commented on #15
well, I deleted the old, and made an entirly new payload and executed it :/

[2017-02-23 00:04] xSynthx commented on #15
but, when I did the `control` + `c` it still gave me all that error crap, and when I pressed `control` + `c` again, it let me type the connection, then it gave me the correct user bash line thing, and clear cleared it........

[2017-02-23 00:04] manwhoami commented on #15
post the error here please.

[2017-02-23 00:06] xSynthx commented on #15
well, my victim went offline, but, when I execute the payload on my mac, and I go back onto my VPS, it isnt detecting :/

[2017-02-23 00:08] xSynthx commented on #15
he is back online

[2017-02-23 00:08] xSynthx commented on #15
WELL, now it stopped doing the error, thanks for this issue!

[2017-02-23 00:09] thehappydinoa opened #16 "Make a Discord Server"
Hey man, can you make a discord server for everyone to talk?

[2017-02-23 00:12] xSynthx commented on #15
Would you also mind updating the content of the `user_pass_phish` command please. I had the victim ask "But I am already connected to my network"

[2017-02-23 00:12] manwhoami commented on #16
I am keeping communications limited to Github and my twitter @bufferovernoah.

Thank you for the suggestion.

[2017-02-23 00:12] #16 closed

[2017-02-23 00:14] xSynthx opened #17 "Exit error"
When I exited bella after getting root on target, I got this error, I do not know if it is bad or not, but wanted to let you know!
[code]

[2017-02-23 00:17] manwhoami commented on #15
One of the beauties of open source is that you can look into the source code and learn how it works, and tweak it to your desire [what you suggest is not a bug fix, or an enhancement].

If you go to line 1720, you will see the subprocess call that invokes the dialog that appears when `user_pass_phish` is executed. You can change this call, including its text, as you desire.

If you want to change

[2017-02-23 00:18] xSynthx commented on #16
How come? If you had a discord server, it would help out SOOOOOO much!

[2017-02-23 00:18] manwhoami commented on #17
Line 296 expects to receive a message over a socket. It gets None [hence the error], because the socket is closed, because Bella is reloading itself as root, as expected.

Please do not open issues like this, although I appreciate the thought.

[2017-02-23 00:18] #17 closed

[2017-02-23 00:19] xSynthx opened #18 "set_client_name error"
When I tried setting my client name, I got the following error *and yes, I am root*:
[code]

[2017-02-23 00:20] xSynthx commented on #18
and please make a discord server, it would be so benificial!

[2017-02-23 00:24] manwhoami commented on #18
You are misusing the command. Type `set_client_name` and then press enter. You will see a dialog to enter the name. `set_client_name some_name` is the only way that that error could arise.

Again, please do not open issues that are not issues.

[2017-02-23 00:24] #18 closed

[2017-02-23 00:29] xSynthx opened #19 "PLEASE make a discord server, I wont ask again tho :/"
It would be so much better, as I would be able to talk with you about errors like this faster. I am asking nicely.

[2017-02-23 00:29] xSynthx commented on #19
Or if you have discord, just lemme add you or something

[2017-02-23 00:30] thehappydinoa commented on #19
Make one and I'll join

[2017-02-23 00:31] manwhoami commented on #19
Guys, I will reiterate. Github and twitter only for issues. This is a public, open source project, and I will not be communicating over any private channels relating to it.

Reach out to me on twitter with future questions about how to use bella, or about how it works. If you have an actual bug report, or enhancement request, post it here.

[2017-02-23 00:31] #19 closed

[2017-02-23 00:45] xSynthx opened #20 "Regarding Twitter"

[2017-02-23 00:54] BlackDeveraux commented on #20
You could always tweet him.

[2017-02-23 01:09] xSynthx commented on #20
ehhhh, will clog up my tweets

[2017-02-23 01:10] xSynthx commented on #20
he is just a lazy fuck that wont create a fuckin server on discord

[2017-02-23 02:04] #20 closed

[2017-02-23 02:14] BlackDeveraux opened #21 "Folder Creation"
I'm not sure if this is the intended effect but when I run `set_client_name', Bella does its job and creates a new folder with the newly set username under the _Logs_ folder but leaves an empty shell folder under the old username.

EDIT:

<img width="188" alt="screen shot 2017-02-23 at 10 17 43 am" src="https://cloud.githubusercontent.com/assets/7029790/23241967/6b738968-f9b1-11e6-9394-f79bf163df5

[2017-02-23 02:26] manwhoami commented on #21
I am unable to reproduce this issue. Can you post an example of what causes this?

[2017-02-23 03:24] BlackDeveraux commented on #21
I will when I get the chance, my clients are offline at the moment.

[2017-03-01 13:27] idekwhoIam opened #22 "Payload Generation"
I recently updated Bella, and when I go to generate a new payload, and I run it on a client, the Control Center will detect it, BUT, it says malfunctioned :/ I dont know what is going on, and I cant get a old version of bella. I will update this post when I can recreate the error, because my client is offline right now. but I can `control` + `c` and it will ask me the enter number of client.... I

[2017-03-01 16:16] manwhoami commented on #22
I have added error handling for the sqlite `no such column` issue.

The release with the `sed...` error, is an older release that doesn't have support for Linux. I have updated the releases page.

Thanks for report.

[2017-03-01 16:16] #22 closed

[2017-03-01 16:19] manwhoami commented on #21
Closing due to inactivity and I am unable to reproduce.

[2017-03-01 16:19] #21 closed

[2017-03-01 18:07] idekwhoIam commented on #22
When I update the Control Center, and Bella.py, will I have to make a new payload and run it on the victim?

[2017-03-01 18:55] manwhoami commented on #22
Yes. You can run it on the target by running updateserver_yes. If this fails, you will have to do it physically.

[2017-03-01 18:59] idekwhoIam commented on #22
Good thing I have 2 other backdoors

[2017-03-01 19:00] idekwhoIam commented on #22
btw, I am xsynthx *Synthx*, will you please let my real account post, and make issues, I am sorry for what I did, and it wont happen again.

[2017-03-01 19:17] Skeyelab opened #23 "get remote Bella.py version"
is there a way to ensure our versions are up to date?

If you include a version # in CC and Bella.py, we could coordinate them somehow.

Thoughts?

[2017-03-01 19:55] manwhoami commented on #23
Great idea! Don't know why I left this out to begin with. Just pushed this update. `bella_version` will print the version of the remote bella server, and the control center.

This should help determine what your remote instance is running on.

I may add this to the initial information that is printed about bella [that is, `Last Connected: ...` etc]

I do not want to make the CC drown in text, so f

[2017-03-01 19:55] #23 closed

[2017-03-02 22:48] idekwhoIam opened #25 "user_pass_phish malfunction"
Well, I dont know what happened, but all of a sudden, I think bella broke on my client...... I ran Control Center on the client just last night, and the root was popping up, but all of a sudden, now when I run the Control Center, my client doesnt show..... so, I used my other backdoor, and re ran bella, and when doing so, I tried running `user_pass_phish` and it says attempting to phish user .....

[2017-03-02 22:56] idekwhoIam commented on #25
I honestly think that the plist arent loading themselves, because I had the person restart their laptop, and for some reason, both my plist *Bella* and *bash -i.....* stopped working......

[2017-03-04 22:21] idekwhoIam commented on #25
Are you gonna answer?

[2017-03-06 15:50] mineo210 opened #26 "I want to listen to a port and host!"
does this work if someone connects every 60 seconds with bash??

[2017-03-06 17:54] ochsenjoch opened #27 "I would love a possibility to Open a "view only" VNC Connection."
It would be nice if i could switch my interaction on or off, so that i don't interfere with the system if i don't intend to.

[2017-03-06 20:05] manwhoami commented on #26
Please provide more information on this question.

[2017-03-06 20:05] manwhoami commented on #27
You can do this within the VNC Viewer App. Preferences -> View only. Let me know if this does what you need!

[2017-03-06 20:05] #27 closed

[2017-03-06 20:06] manwhoami commented on #25
Hello, just got around to this. I am not sure why that error is being raised. Can I have some information about the machine that it is running on?

[2017-03-06 20:09] ochsenjoch commented on #27
yes, it does. i'm sorry, i should have found that myself... kind of strange that it doesnt show in the menu bar i'm so used to use the shortcut as well.

Thank you very much.

[2017-03-06 20:28] mineo210 commented on #26
nvm I got a root shell before but with EggShell, since this script does't connect via bash I had to build a payload to my public address and port forward the 4545 port.. later I upload the payload to transfer.sh and then later download the payload with curl when I'm inside netcat.. later do "chmod +x Bella" to make it run with "./Bella"  and boom get another root shell but with more feature thanks

[2017-03-06 20:31] mineo210 commented on #26
ayy you know why typing "b" wont work?

[2017-03-06 20:34] mineo210 commented on #25
ayy this is happening for me too :( my targets are only MacBook Air

[2017-03-06 23:06] RogueRuins commented on #25
Same issue here:
' [-] Malfunction:
[code]

[2017-03-06 23:06] manwhoami commented on #25
What systems are you guys running on? Is the system less than 10.11?

[2017-03-06 23:07] RogueRuins commented on #25
Ya I am running it on 10.10.5, is it not backwards compatible?

[2017-03-06 23:08] manwhoami commented on #25
I think I know what is causing this issue. Working on a fix as we speak.

[2017-03-06 23:09] RogueRuins commented on #25
Oh great, thank you so much, anything else we can expect in the update?

[2017-03-06 23:09] manwhoami commented on #25
Ive been working on a few things. They're not entirely ready for release yet though. Any requests?

[2017-03-06 23:10] RogueRuins commented on #25
Not really, maybe just keylogging or other post-exploit type stuff, but no rush

[2017-03-06 23:29] RogueRuins opened #28 "Enhancements"
I am sorry, I realize I just said that I didn't have any requests but if you don't mind I'm going to make an issue just for requests

* Change 'server_update' to 'host_update' or 'victim_update'

* Enable keylogger

* Change user pass phish function from asking for keychain password for network, to something like <default browser> helper needs to install. The keychain is to complicated for average

[2017-03-07 00:00] manwhoami commented on #25
I submitted a fix. I don't have a yosemite machine near me at the moment. Let me know if this fixes your issue (it should)!

[2017-03-07 00:00] #25 closed

[2017-03-07 00:01] manwhoami commented on #28
Thanks for the requests. I just changed the user pass phish function a bit. Let me know what you think. I will get started on some of these features and post here when I push them.

[2017-03-07 00:02] manwhoami commented on #26
Great. Also, the "b" issue may be due to an older version of Bella that you have installed. This issue was related to the 'readline' module and how it differs on Linux and macOS machines. Try updating to the newest version of Bella, and let me know how it looks.

[2017-03-07 01:06] RogueRuins commented on #28
Awesome, thank you

[2017-03-07 04:23] RogueRuins commented on #25
So I just tried to update_server and when I went to the client it said uploading payload failed... Uploading...

[2017-03-07 04:23] RogueRuins commented on #25
Idk it might need to restart tho

[2017-03-07 04:41] manwhoami commented on #25
Could you provide the output given by Bella? It makes it easier to see what / where the problem is.

[2017-03-07 04:46] RogueRuins commented on #25
My host just went offline, but I will get back to you

[2017-03-07 06:33] mineo210 opened #29 "Target is online but wont connect to me back."
I got a root shell before of this target with bell but suddenly it stopped working.
I think it was when I played around with VNC and then the connection just cut off.. tho it said on Eggshell that he was still online (getting connection with bash)

[2017-03-07 16:13] mineo210 commented on #26
Still doesn't work :(

[2017-03-07 16:21] mineo210 commented on #28
@manwhoami user_pass_phish sadly doesn't work on my victims :(

[2017-03-07 16:24] manwhoami commented on #28
Sorry to hear about that. Could you post the error Bella throws?

[2017-03-07 16:28] RogueRuins commented on #28
Ya I had the same issue so I had to uninstall Bella manually then re clone the repo and rebuild

[2017-03-07 16:35] mineo210 commented on #28
@RogueRuins I'll try that :)

[2017-03-07 16:42] mineo210 commented on #28
@manwhoami I get this: [/private/var/root] user_pass_phish
Attempting to phish current GUI User [USER]
[-] Malfunction:
[code]
[USER@USER-MacBook-Air]-[/private/var/root]

[2017-03-07 16:48] RogueRuins commented on #28
@mineo210 I am getting the same error

[2017-03-07 17:02] mineo210 commented on #26
@manwhoami are you planning on including keylogging? and yeah I've tried reinstalling and the "b" still doesn't want to work

[2017-03-07 17:04] RogueRuins commented on #26
@mineo210 Are you using a remote server? Or are you at your Linux/Mac machine

[2017-03-07 17:10] mineo210 commented on #26
@RogueRuins  I'm on a Mac myself

[2017-03-07 17:11] RogueRuins commented on #26
Are you running bella on your own computer?

[2017-03-07 17:16] manwhoami commented on #26
@mineo210 I am working on some new features, one of which is implementing a keylogger. I should have this completed within two weeks hopefully.

[2017-03-07 17:16] manwhoami commented on #29
If Bella crashes for some reason, it sends a log back to the control center with a traceback. Please post that here.

[2017-03-07 17:17] RogueRuins commented on #26
@manwhoami Nice also I have been updating my original post about enhancements, let me know what you think

[2017-03-07 17:19] manwhoami commented on #28
@mineo210 and @RogueRuins could you post your respective system(s) information?

[2017-03-07 17:24] RogueRuins commented on #28
Yup, I am running the most recent version of Bella on my iMac running macOS 10.10.5

[2017-03-07 17:26] mineo210 commented on #28
@manwhoami MacBook Air (11-inch, Early 2014) Version: 10.12.1

[2017-03-07 17:27] mineo210 commented on #26
@manwhoami Interesting! :)

[2017-03-07 17:28] mineo210 commented on #29
alright, got it fixed!

[2017-03-07 17:28] #29 closed

[2017-03-07 17:29] RogueRuins commented on #26
Thanks man, do you have a twitter?

[2017-03-07 17:30] mineo210 commented on #26
me?

[2017-03-07 17:30] manwhoami commented on #28
@RogueRuins okay, so the latest updates should have fixed this error on yosemite. I will get to a yosemite machine and try to see whats up.

@mineo210 okay thanks.

Does iCloud phish work for both of you?

[2017-03-07 17:30] RogueRuins commented on #28
I think so, let me try

[2017-03-07 17:31] RogueRuins commented on #26
Ya, I can help a little better on twitter

[2017-03-07 17:31] mineo210 commented on #28
yes iCloud works, I used it instead before..

[2017-03-07 17:31] mineo210 commented on #26
@brohunterss

[2017-03-07 17:32] RogueRuins commented on #26
K I added you

[2017-03-07 17:39] manwhoami commented on #28
So i've pushed some changes to Bella. You will have to update your targets with this new version.

This version will send back the information that is crashing you two.

Post that information here. Thanks!

[2017-03-07 17:41] mineo210 commented on #28
Ok

[2017-03-07 17:42] mineo210 commented on #28
nothing happens when I type "git pull"

[2017-03-07 17:53] mineo210 commented on #26
@RogueRuins Okay, soo what are you gonna help me with?

[2017-03-07 17:54] manwhoami commented on #28
@mineo210 apologies. just synced.

[2017-03-07 17:56] mineo210 commented on #28
@manwhoami you rock man!

[2017-03-07 17:58] mineo210 commented on #28
@manwhoami how do I update the payload inside the shell?

[2017-03-07 18:03] manwhoami commented on #28
Build the new payload with builder.

Inside the Control Center, connect to the target. Run update_server. It will ask for a file location. Drag and drop the new payload into the control center, or manually type in the location of the new payload.

Be careful as to what you type in for the file name. If you update with the wrong file, [like some random PDF for example], then you will lose your shel

[2017-03-07 18:07] mineo210 commented on #28
@manwhoami sweet!

[2017-03-07 18:09] mineo210 commented on #28
@manwhoami is there a complete list with ALL the commands featured with Bella?

[2017-03-07 18:12] mineo210 commented on #28
@manwhoami I get this error:
Attempting to phish current GUI User [USER]
[-] Waiting for user input.
[-] Error! [51:353: execution error: Finder drabbades av ett fel: Filen file :tmp:tmpjNU_ga:americangirl hittades inte. (-43)

that is on swedish so if i translate it it is "Finder got caused by an error: the File file:tmp:tmpjNU_ga:americangirl was not found (-43)

[2017-03-07 18:21] RogueRuins commented on #28
Hey @manwhoami, I wasn't having the error where you cannot type 'b' then I updated Bella and it no longer works... But capital 'B' does work but for commands that is problematic

[2017-03-07 18:22] RogueRuins commented on #26
What ever you need man, I started using Bella like day 3 so I got you if you need anything

[2017-03-07 18:23] mineo210 commented on #28
@RogueRuins exactly the same for me.. like doing "cd liBrary" works but "Bella_info" doesnt

[2017-03-07 18:24] RogueRuins commented on #28
Ya I was gonna try rebooting the server I can't type in the command and reboot_server doesn't work

[2017-03-07 18:25] mineo210 commented on #26
@RogueRuins I started yesterday.. I use both Eggshell and Bella at the same time since they run on diffrent ports.. tho exploiting macOS have I've been doing now more than 2 months since Windows isn't as interesting anymore lol

[2017-03-07 18:25] mineo210 commented on #28
@RogueRuins why is rebooting the server good?

[2017-03-07 18:26] RogueRuins commented on #28
BC it could reload something that was messed up on update but idk

[2017-03-07 18:26] mineo210 commented on #28
oh

[2017-03-07 18:26] RogueRuins commented on #26
Lol nice

[2017-03-07 18:26] RogueRuins commented on #28
Ya but I might just manually reboot

[2017-03-07 18:28] mineo210 commented on #28
tho how do I kill the LaunchCTL? it says this when I try running it on another target where I already exec the payload but later deleted it in Eggshell..

[], [/library/containers/.bella]
Bella is not in the proper folder. Resetting
Created Launch Agent
Moving Bella
Loading Launch Agent
Bella is already loaded in LaunchCTL.

it wont connect :(

[2017-03-07 18:33] RogueRuins commented on #28
Oh, just got to /Library/LaunchAgent/ and delete com.apple.Bella if you are root, if not got to ~/Library/LaunchAgent or Daemon and delete com.apple.Bella

[2017-03-07 18:33] RogueRuins commented on #28
Then a reboot wouldn't hurt

[2017-03-07 18:38] mineo210 commented on #28
@RogueRuins Thanks!

[2017-03-07 18:44] mineo210 commented on #28
@RogueRuins I could skip the reboot with "sudo launchctl unload com.apple.Bella.plist" and then exec the payload again

[2017-03-07 19:10] RogueRuins commented on #28
nice

[2017-03-07 19:23] Scriptkidy opened #31 "Control Center path error"
Control center got a error after loading a client
the path was wrong i don't know how it started i think it was terminating or me opening .Bella
so i Open control center with Xcode and changed

`with open('Payloads/payloads.txt', 'rb') as content`
to
`with open('/Users/Myname/Desktop/Bella-master/Payloads/payloads.txt', 'rb') as content`
that fixed it for me.
maybe you can make the script start at

[2017-03-07 19:38] Scriptkidy commented on #28
not typing the b key works for me is it fixed?

[2017-03-07 20:41] RogueRuins commented on #31
Hey man, so when there is not a slash in front of it becomes responsive to where you have the folder, to execute you have to type in 'cd ~/Desktop/Bella-master' then type in 'python Control\ Center.py also to stay up to date easier use git

[2017-03-07 23:25] Scriptkidy commented on #31
Thanks cleared that up.
Also how do you VNC with Bella? I have vnc viewer but I don't know how to connect.

[2017-03-07 23:31] RogueRuins commented on #31
I believe you have to run payload_generator in the Payloads folder, then run ./vnc but Im not 100% sure

[2017-03-08 06:23] mineo210 commented on #31
@Scriptkidy you need to port forward the port 5500 and then enter "vnc" when you are inside of you victims shell.

[2017-03-08 06:42] BlackDeveraux opened #32 "Enhancement: get_root in a manual fashion"
Hello!

I've been losing clients here and there, but I've learnt to use a DNS to keep them hooked, this helps when the local DHCP servers randomly assign IP addresses.

I was wondering if it would possible for you to implement a small feature in which we manually enter the password (if we know it already) and have Bella attempt to gain root access, and throwing an error if it's incorrect.

I'm sug

[2017-03-08 07:52] mineo210 commented on #32
I hope this gets implemented !

What DNS service are you using?

[2017-03-08 07:57] BlackDeveraux commented on #32
@mineo210
I purchased a Secure DNS solution from a guy I'm familiar with. But prior to setting up a custom DNS solution, I went with No-IP.

In addition to No-IP, there's DuckDNS etc. but I don't suggest using these services because they tend to have honeypots setup if you're not using them for educational purposes.

[2017-03-08 08:08] mineo210 commented on #32
@BlackDeveraux Thanks!

[2017-03-08 13:19] manwhoami commented on #32
Nice idea. I will add this feature in the next update, along with manual entering of iCloud passwords, chrome and iCloud tokens. Thanks for suggestion!

[2017-03-08 13:19] #32 closed

[2017-03-08 13:24] RogueRuins commented on #32
Hey also one other thing, this is the most recent privilege escalation tool rn https://github.com/zhengmin1989/macOS-10.12.2-Exp-via-mach_voucher it is for macOS 10.12.2 and it works quite nicely, maybe you could add to get_root

[2017-03-08 13:49] BlackDeveraux commented on #32
@RogueRuins

That looks very cool! Thanks for sharing :)

[2017-03-08 13:51] RogueRuins commented on #32
Ya ofc man

[2017-03-08 14:14] Scriptkidy commented on #31
Interactive_shell or Bella?

[2017-03-08 14:22] manwhoami commented on #32
@RogueRuins I was checking this out yesterday actually. I haven't been able to get it to work on a 10.12.2 machine, but I will keep trying.

[2017-03-08 14:22] manwhoami commented on #31
Bella @Scriptkidy . Run `manual` in bella for a list of commands, including the one for VNC.

[2017-03-08 14:23] #31 closed

[2017-03-08 14:23] manwhoami commented on #26
Closing - issue resolved.

[2017-03-08 14:23] #26 closed

[2017-03-08 15:05] RogueRuins commented on #32
Oh, huh hope you can find a way

[2017-03-08 16:18] mineo210 commented on #31
@manwhoami is there a *complete* list for all commands.. in the manual there wasn't "update and download" you get what I mean?

[2017-03-08 16:22] mineo210 opened #33 ""b" key is not working. Any solutions or recommendations for those who has it working?"
pretty what the title says, I hope this gets fixed since it's pretty annoying :/

thanks!

[2017-03-08 16:32] Scriptkidy commented on #31
i ran `manual` and it did not have one for vnc
i did it in bella shell

`Control Center Version: 1.11
Bella Version: 1.11`

**[myname]-[/] manual**

Bella Version
Return Bella's version / release number.
Usage: bella_version
Requirements: None

Chat History
Download the user's macOS iMessage database.
Usage: chat_history
Requirements: None

Check Backups
Enumerate the user's local iOS backups.
Usa

[2017-03-08 16:41] Scriptkidy commented on #33
B Key Works for me
Check `Sticky Keys` in System Preferences
Turn it off if its on

[2017-03-08 16:45] mineo210 commented on #33
@Scriptkidy thanks! I'll try that!

[2017-03-08 16:46] mineo210 commented on #33
@Scriptkidy was already off :(

[2017-03-08 16:47] RogueRuins commented on #33
Oh rip

[2017-03-08 16:47] Scriptkidy commented on #28
i have a request. maybe you can add a update bella command?
i know the update server command but maybe you can make it download the latest from github?
if you can than that would be great!

[2017-03-08 16:50] RogueRuins commented on #28
@Scriptkidy just cd into your Bella folder and type the command got pull and it will update

[2017-03-08 16:54] Scriptkidy commented on #28
k

[2017-03-08 16:57] Scriptkidy commented on #28
wait it did not work i am a noob with git i did `git pull` inside ~/Desktop/bella-master

[2017-03-08 17:03] RogueRuins commented on #28
@Scriptkidy you type in '''cd ~/Desktop/bella-master/''' then '''git pull'''

[2017-03-08 17:08] RogueRuins commented on #28
Wait do you have any clients yet? If not you should re clone the repo by typing 'git clone https://github.com/manwhoami/bella'

[2017-03-08 17:33] Scriptkidy commented on #28
i get error
`fatal: Not a git repository (or any of the parent directories): .git`
and yes i have one client its on my own computer its just for testing i don't care if i lose it

[2017-03-08 18:08] ochsenjoch opened #34 "LPE not working on 10.11.3"
i have a machine where i am testing the get_root function.

It is running 10.11.3 but the command returns the following error(s):

 get_root
[*] We are not root. Attempting to root.
[-] No user password found. Run 'phish_user_pass' to phish this. It should give us root.
unzip /var/folders/vj/vsy9knz53xv51flfbcyxb3s00000gn/T/tmpnV6x0J/americangirl -d /var/folders/vj/vsy9knz53xv51flfbcyxb3s00000gn/T

[2017-03-08 19:15] manwhoami commented on #31
Sorry about that, I must have missed those for some reason. If you press `tab` twice in the control center, a list of ALL Bella commands should appear.

I have updated Bella with these manual entries.

[2017-03-08 19:17] manwhoami commented on #28
Expect most of these and many more new features by this coming Monday, March 13th.

[2017-03-08 19:21] mineo210 commented on #28
@manwhoami Awesome!

[2017-03-08 19:24] manwhoami commented on #33
Please post information about your control center system.

That is, OS Version, and any python packages installed related to readline.

[2017-03-08 19:29] manwhoami commented on #34
It is possible that the computer has a security patch installed, although this is unlikely..

If you check About this mac -> system report -> software -> security update

What do you see?

[2017-03-08 19:29] mineo210 commented on #33
@manwhoami os version is 10.12.1 but how do I know what python packages i installed that uses the module readline ??

[2017-03-08 19:41] manwhoami commented on #33
No need for that information actually. I just updated the control center to remove the need for gnureadline, and added a special tab parser if there is a macOS vs linux system. Update your control center, and your issue should be resolved.

[2017-03-08 19:41] #33 closed

[2017-03-08 19:42] mineo210 commented on #33
@RogueRuins Thanks!

[2017-03-09 19:32] Scriptkidy opened #35 "can someone help me with vnc?"
Sorry for this i know its not your fault.
i tried to vnc with `./vnc` in payloads folder
but it says `ERROR: No authentication specified, use -rfbauth passwordfile OR -rfbnoauth`
so i do `./vnc -rfbauth ~/Desktop/pass.txt`
and it says `2017-03-09 14:21:03.331 vnc[1952:22325] Arguments: -rfbauth /Users/Myname/Desktop/pass.txt
2017-03-09 14:21:03.403 vnc[1952:22325] Detected HiDPI Display with scali

[2017-03-09 19:57] mineo210 commented on #35
did you port forward all the ports that is recommended on the Bella readme.md ?? i recommend when you're inside of a shell type "vnc" and it should work.

[2017-03-09 20:02] Scriptkidy commented on #35
i will try that

[2017-03-09 20:23] #35 closed

[2017-03-09 20:28] mineo210 commented on #35
@Scriptkidy did it work?

[2017-03-09 20:41] mineo210 opened #36 "JavaScript payload or features??"
So I saw a "rat" that works on MacOS but is in beta that uses java.. has some good features.
just wondering is this possible if you somehow implemented some java code inside of the python payload.. since java is also pre-installed onto os x. just wondering :)

rat name is "SilentBytes" and it's not for free, still in beta so far..

[2017-03-10 01:01] manwhoami commented on #36
I have no intention of doing this. And the default version of java is an older version if i recall correctly. Feel free to submit some of the features that it has as feature requests.

[2017-03-10 01:01] #36 closed

[2017-03-10 01:07] BlackDeveraux commented on #35
Just curious, but is the VNC feature silent?

[2017-03-10 01:07] manwhoami commented on #35
Yes. The user will not know unless you start taking control of their mouse / keyboard..

[2017-03-10 01:56] Scriptkidy opened #37 "when my ip changes can't find my target"
I'm sorry i know this not your fault i'm a noobie so please help me
when my ip changes than i can't get into bella
on the target i need to delete .Bella
in `./BUILDER Bella.py` i leave all to default but in `Where should Bella connect to: my computer ip`
please tell me what i am doing wrong.

[2017-03-10 02:01] manwhoami commented on #37
Right ... Bella connects to a preprogrammed IP address. If you address changes, Bella will not be able to connect to you. It has know way of knowing what computer you're on, so that is why the IP address of the control center is permanent [unless you update the host with a new version of bella with a new IP address]. No worries on the question, but this is a pretty straight forward networking conc

[2017-03-10 02:01] #37 closed

[2017-03-10 14:28] mineo210 opened #38 "Connecting to victim isn't working!"
I get his:
Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...

[2017-03-10 15:06] mineo210 commented on #38
and I get this:
Payloads requested. Sending payloads...
Error injecting payloads
Traceback (most recent call last):
  File "Control Center.py", line 683, in <module>
    main()
  File "Control Center.py", line 298, in main
    string_log(data, client_log_path, client_name)
  File "Control Center.py", line 53, in string_log
    with open(os.path.join(client_log_path, client_name + ".txt"), "ab") as

[2017-03-10 16:01] Scriptkidy commented on #37
thanks sorry I'm a noobie

[2017-03-10 16:04] Scriptkidy commented on #38
I don't know 🤔 maybe try to open control center with 'sudo python Control\ Center'
Maybe that will work 😐.

[2017-03-10 16:30] mineo210 commented on #38
then I get the this:
Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...

[2017-03-10 16:40] manwhoami commented on #38
Make sure you are running the Control Center from the same directory that it is locating in. I.E. , cd

/Users/Name/Desktop/Bella-Master/

and then run 'python Control\ Center.py'

[2017-03-10 18:18] #38 closed

[2017-03-10 23:40] manwhoami commented on #28
@mineo210 I have just pushed a bug fix that will fix the error you got when running user_pass_phish. Turns out it was a permissions error that I was missing with multi user support. Newest version of Bella `1.20` fixes this bug, adds chrome credit card decryption, and adds support for manual updating / deletion of iCloud and user passwords.

[2017-03-11 05:58] BlackDeveraux opened #39 "Port Check Error"
I've been testing Bella out on local ranges so far, with a DNS setup pointed to a 192.168.x.x address.
I tried setting up a solution that would work over the internet, and it worked, until I try and scan/ping my IP for Port 4545.

The control center runs as it normally would, but when I scan for the port 4545 the control center crashes and throws this error:

`EOF occurred in violation of protocol

[2017-03-11 11:28] mineo210 commented on #39
this happens also if you try to connect to the port via the browser, I think it crashes since it not supposed to be connected that way and if nmap scans it, it tries connecting I guess.. How I've made it work over the Internet is by building the payload with my public ip or dns server and then port forward all the ports that are recommended inside of the README.md, later I check if the port works

[2017-03-11 11:30] mineo210 commented on #28
@manwhoami wow sick! I'll try it out thanks for making this repo man!

[2017-03-11 11:30] ochsenjoch commented on #34
the only relevant updates that have been installed are 10.11.3 combo update and osx recovery update, so no security patches. I have also tried installing the newest version of the bella payload, same result

[2017-03-11 13:58] BlackDeveraux commented on #39
Yeah I bet it's not built to handle such a request, but even then, I don't think the Control Center should terminate because of this?

[2017-03-11 14:13] mineo210 commented on #39
this happens on nc too.. or it will not respond and stop work

[2017-03-11 14:14] mineo210 commented on #39
netcat*

[2017-03-12 21:09] mineo210 opened #40 "mitm_start doesn't work for me."
I get this when  I run it:
🚀  Specify an interface to MITM [Press enter for Wi-Fi]:
[-] Error injecting root CA into System Keychain:
[*] We are root, but there was an error.
[*] SecCertificateAddToKeychain: UNIX[Operation not permitted]

tho it have worked before on the same victim with the same ".pem" file

[2017-03-13 18:07] manwhoami commented on #40
Sorry about that, I just pushed changes to fix this. I changed some code in a recent update that causes this issue.

I changed the keychain that it adds itself to, and I also added a feature to regenerate a certificate if you so desire (would not cause any issues if you didn't however).

Thanks for this!

[2017-03-13 18:07] #40 closed

[2017-03-13 18:08] manwhoami commented on #39
Yes, the CC expects a very particularly crafted request. If it is crashing, that means the port is being forwarded successfully, the control center just doesn't know how to handle the forwarded request.

You are just testing if the port is forwarded yes?

[2017-03-14 00:54] BlackDeveraux commented on #39
@manwhoami
Yes, I was pinging the port for testing purposes.
And the set-up does work, and latency doesn't seem to be too big a problem!

[2017-03-14 00:57] #39 closed

[2017-03-14 10:37] mineo210 opened #41 "mike_stream doesn't work"
I mean it works but I can't hear what the victim says..

[2017-03-14 14:17] manwhoami commented on #41
I am unable to reproduce this issue. The only thing that I can think of that would be causing this is some sort of feedback loop due to proximity. Is the control center system closer than say, 10 feet to the target?

Also, details about both the control center and the target systems (operating system, hardware) would be helpful in troubleshoot this.

[2017-03-14 18:39] mineo210 commented on #41
@manwhoami the victim uses a early 2013 version of the macbook air 11 inch and has the latest version of osx (10.12.3) other than that others victims has the same issue they are right in front of the webcam even tho I can see that they are talking to someone inside of for example discord.. and instead i get just "ear rape and mumble etc"

[2017-03-14 19:18] manwhoami commented on #41
Hmm. I can try to test out on more machines. It is unlikely that there is anything I could do about this, the microphone feature just captures all microphone input and sends it over the network.

I will see what can cause interference. I get crystal clear streams on all the machines I have tested on so far, including a MB air.

[2017-03-14 22:32] mineo210 commented on #41
why do you keep editing the word "ear rape" XD

[2017-03-14 23:43] #41 closed

[2017-03-16 01:15] manwhoami commented on #34
I have updated Bella to handle < 10.12.2 for LPE. Let me know how this works for you.

[2017-03-16 01:15] #34 closed

[2017-03-16 15:11] randomuser1234 opened #42 "No password"
I've noticed when a user does not have a password the user_pass_phish option will not work. Even when you use update_db_entry it will not allow you to enter nothing.

One quick way to fix this would be to just test for no password with the get_root option.

Also, I could just be oblivious but is there a command to not exit the Control Center while also exiting the current target? Like how you can

[2017-03-18 01:37] barrett092 opened #43 "Tutorials"
Any tutorials (youtube, etc) on setup and whatnot? I tried the framework on a Mac VM but the Command Center could never find the instance.

[2017-03-20 16:09] ochsenjoch commented on #42
The problem is, that if the user has set no password, he will not be able to use "sudo", since UNIX simply doesn't like to have no passwords. You can test this by setting no password on your local user and try a sudo command in the terminal

[2017-03-21 03:23] BlackDeveraux commented on #28
Is there an existing way of switching clients without exiting the current control_center instance?

[2017-03-21 16:17] manwhoami commented on #28
There is no existing way @BlackDeveraux . I will play around with adding a feature for this

[2017-03-21 16:17] #42 closed

[2017-03-21 16:24] manwhoami commented on #42
Thank you @ochsenjoch . I will mess around with an account with no password to see if there is a way to gain admin access without it.

@randomuser1234 in regards to the returning to the screen without disconnecting, see [this issue](https://github.com/manwhoami/Bella/issues/28#issuecomment-287966008) . I will add this feature shortly.

[2017-03-21 16:43] manwhoami commented on #42
Okay, so if the user has no password, sudo is not possible. One little work around this, is to set a temporary password for the user, since we know the current one is ''.  Then, get sudo with this password, migrate Bella to root, then set the password for the user back to '' (blank). This is a few lines of code, but I will have to add a lot of error handling, so in the event that anything goes wro

[2017-03-21 16:45] manwhoami commented on #43
The Readme is fairly detailed, although a video tutorial is not a bad idea. Will post here if / when I create one / some. It / they would probably be around a minute or two.

[2017-03-22 01:24] barrett092 commented on #43
That would be great!

On Tue, Mar 21, 2017 at 12:45 PM, Noah <notifications@github.com> wrote:

--
Thanks,

Chris Barretto

[2017-03-31 10:13] ABorrello opened #44 "Clients stopped showing up"
Hello,
I have recently been having some trouble with my existing Bella clients...

When I start up the control center, I am unable to see any of the clients that I have deployed the payload to? I know that my port forwarding and IP config is fine as it was working fine about 5 days ago.
To further debug the issue, I hopped onto one of the test computers I have Bella running on and ran `netstat -a`

[2017-04-01 12:05] mineo210 commented on #44
Same happens to me. But since I also have a bash reverse shell on my victim I can exec the payload whenever this happens. But still it's a problem, hope this gets fixed.

[2017-04-01 18:29] manwhoami commented on #44
Quite peculiar ... Will look into this. Thank you for the report.

[2017-04-01 21:14] killingit57 opened #45 "Documentation on removal"
Hi there,

I've been doing some local/remote testing. The remote remove works well but when I go to reinstall locally, I get prompted with options on if I'd like to reinstall Bella. This makes running an automated attack w/ a Rubber Ducky more challenging. Can you document a full uninstall (commands to run or script) or change this behavior? I recognize this might be an edge case but I wanted to a

[2017-04-01 21:50] killingit57 commented on #45
Working more on this - I believe the first issue is related to my local machine and not to Bella. Closing this issue.

[2017-04-01 21:50] #45 closed

[2017-04-02 04:13] ABorrello commented on #44
@mineo210 When you re-exec the payload, does it install it self again (as in do you get duplicate client entries in the control center?) Or does it overwrite the existing installation?

[2017-04-02 18:28] manwhoami commented on #44
Bella is programmed to overwrite the existing installation. As it stands now though, it does not reload the launchdaemon and it does not overwrite the encrypted Bella.db.

To get the launchdaemon to reload the program, just run `killall -9 python` on the remote computer. And to delete the Bella.db, just go to the install path for Bella, and delete it with `rm Bella.db`. I will work this functional

[2017-04-05 20:04] ShellBear opened #46 "Use a dns in host"
Hello, just a question i tried to use in host my DNS from no-ip but its not working, i don't receive any connection. Here an example of what DNS looks like : *********.ddns.net
I don't know how to use it because due to my dynamic ip, my ip (so the host) change every week.

Thank you

[2017-04-05 22:23] manwhoami commented on #46
This is unlikely due to an issue in Bella. The DNS is definitely pointing to your control center? And are all ports appropriately forwarded on your CC's router?

[2017-04-06 06:10] BlackDeveraux commented on #46
I have a custom DNS solution set up for Bella. As long as you maintain the
correct IP configured for your DNS, and that your ports are correctly port
forwarded (which you can test using services such as canyouseeme.org) it'll
work out perfectly fine.

On Thu, Apr 6, 2017 at 6:23 AM Noah <notifications@github.com> wrote:

[2017-04-06 18:31] ShellBear commented on #46
Do someone success using no-ip ? Because I'm not able to make it works with bella. Or maybe is it possible to change commandt by resolving it instead of connect directly to hostname ?
In bash it would be something like this : dig +short hostname.ddns.net
Don't know if its possible to resolve domain everytime before connect to it in python, in order to modify bella and makes it works

[2017-04-06 20:25] manwhoami commented on #46
The socket function resolves all DNS, so that would not be the issue. If you run the Control Center, and go to `canyouseeme.org` and enter the Control Center's port, do you see anything? If you do not, it is an issue with port forwarding.

[2017-04-08 19:16] Scriptkidy commented on #46
I use no-ip and it works try updating your no-ip host ip ;)

[2017-04-08 19:24] #46 closed

[2017-04-15 08:42] ABorrello opened #47 "Special characters in user password"
I was performing a pen test the other day, and I managed to extract the password for one of the users on a machine that I have Bella running on.
The problem was that the users password was literally a single special character (in this case it was the apostrophe character `'` )

When I tried to update the database using `update_db_entry`, I constantly received an error saying:
[code]

When I tried

[2017-04-15 15:09] iownbish opened #48 "iOS_sms"
Last Connected: Sat, Apr 15 2017 at 08:53:02 AM -- 49:20
[uh@MacBook-Pro]-[~] iOS_sms
[*] Found the following SMS files:

[*] Processing...
[*] Sending data over.

Traceback (most recent call last):
  File "Control Center.py", line 768, in <module>
    main()
  File "Control Center.py", line 410, in main
    (name, data, backup_name) = x.split('FFA82F16')
ValueError: need more than 1 value to unpa

[2017-04-15 21:39] iownbish commented on #48
?

[2017-04-15 22:35] shodan007 opened #49 "10.9.5 LPE not working"
[*] We are not root. Attempting to root.
[-] No user password found.
	[*] Run 'user_pass_phish' to phish it. It may give us root.
	[*] Run 'update_db_entry' to manually enter this user password.
Created root escalate payload at [/var/folders/m7/9gfh3n3d36l0hppk0dbr45880000gn/T/tmpiIIcF5/americangirl]
[-] Malfunction:
[code]
[user@computer]-[~] bella_info
[*] Gathering system information.
[*] Syste

[2017-04-15 23:56] manwhoami commented on #49
I will look into this. Thanks for reporting.

[2017-04-15 23:56] manwhoami commented on #48
Thanks for reporting, I will look into this.

[2017-04-15 23:56] manwhoami commented on #47
Thanks for reporting. I will fix this.

[2017-04-16 02:16] manwhoami commented on #48
Fixed in the latest update. Thanks for report!

[2017-04-16 02:16] #48 closed

[2017-04-16 02:17] manwhoami commented on #49
Fixed this issue in the latest commit. Thanks for reporting!

[2017-04-16 02:18] manwhoami commented on #47
Thanks for the detailed report! I am unable to reproduce this on the latest version of Bella. Here is what I tried:
`Entered command: update_db_entry`
`Selected [2]: User Password`
`Entered username: my_user`
`Entered password: '`

I also tried with a back slash and semicolon and got no error.

It seems as if your remote Bella instance is not recognizing the preprogrammed command `update_db_entry`

[2017-04-16 02:18] #47 closed

[2017-04-16 02:18] manwhoami commented on #44
Any updates on this?

[2017-04-16 02:18] #28 closed

[2017-04-16 03:46] iownbish commented on #48
Accepting Connection from [keefy] at [96.19.148.239]
Last Connected: Sat, Apr 15 2017 at 05:30:33 PM -- 24:02
[uh@keefy]-[/private/var/root] iOS_sms
[*] Found the following SMS files:

[*] Processing...
[*] Sending data over.

Traceback (most recent call last):
  File "Control Center.py", line 777, in <module>
    main()
  File "Control Center.py", line 410, in main
    (name, data, backup_name) =

[2017-04-16 03:50] iownbish opened #50 "iOS_sms error still persisting"
Accepting Connection from [keefy] at [96.19.148.239]
Last Connected: Sat, Apr 15 2017 at 05:30:33 PM -- 24:02
[uh@keefy]-[/private/var/root] iOS_sms
[*] Found the following SMS files:

[] Processing...
[] Sending data over.

Traceback (most recent call last):
File "Control Center.py", line 777, in
main()
File "Control Center.py", line 410, in main
(name, data, backup_name) = x.split('FFA82F16')
Va

[2017-04-16 05:03] manwhoami commented on #50
You have to update your remote Bella install with a newly built payload

[2017-04-16 17:18] manwhoami commented on #50
Did you try the above, and if so, was the issue resolved?

[2017-04-16 17:50] shodan007 commented on #49
[+] User is susceptible to LPE!
[-] There was an error setting the SUID bit and escalating.
[kernel_init: could not open /System/Library/Kernels/kernel]

[2017-04-16 18:13] manwhoami commented on #49
Ahh, very interesting. It seems that pre Yosemite, the Mach_kernel was in the root directory, which is what would cause this issue. The exploit does not look for the kernel there, I will reprogram and update. I haven't actually tested the newest LPE on Mavericks, so I missed this. I will comment here when I commit!

[2017-04-17 02:16] manwhoami commented on #49
I have submitted a patch for this. Please git pull, and update your remote server with the `server_update` command (which is automated as the latest version of Bella).

Let me know if this solves your problem.

[2017-04-17 02:20] shodan007 commented on #49
Accepting Connection from [fuckface] at [172.16.1.73]
Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. Sending payloads...
Error injecting payloads Payloads requested. S

[2017-04-17 02:44] manwhoami commented on #49
The server will keep requesting the payloads until it gets them. It is possible your remote payload database is not matching up with the format of the new payload list.

I have submitted some work arounds for this, Git pull again, and then update your remote server.

This \*should\* solve your issue.

[2017-04-17 03:03] shodan007 commented on #49
[-] There was an error setting the SUID bit and escalating.
[physmem_init: could not open connection: e00002bd]

[2017-04-20 02:03] manwhoami commented on #50
Closing to lack of response. Fairly certain patch resolved issue.

[2017-04-20 02:03] #50 closed

[2017-04-20 17:58] johnnash999 opened #51 "How to find if my mac is infected ;) and How can I remove it ?"
I actually infected myself for testing ;) want to remove it now :D

[2017-04-20 18:00] johnnash999 opened #52 "Can i use domain instead of IP address in Host ?"
I actually tried and it seems not to be working fine.

I tried `host `in this format ->  sub.mymainsite.com

// no http:// and all. just the domain name

[2017-04-20 18:00] manwhoami commented on #51
Can you connect to it from the control center? If so, run the `remove_server` command.

If not, then the default install path for Bella is the following:

`~/Library/Containers/.Bella`. Remove this folder, and remove `~/Library/LaunchAgents/com.apple.Bella.plist`. Then run `launchctl remove com.apple.Bella`

and you'll be all clear.

[2017-04-20 18:00] #51 closed

[2017-04-20 18:01] manwhoami commented on #52
There have been some other reported issues of this. As far as I can tell, it is not a Bella related issue.

See the comments here

[Issue 46 - reference](https://github.com/manwhoami/Bella/issues/46)

[2017-04-20 18:01] #52 closed

[2017-04-20 18:02] manwhoami commented on #49
I am working on testing a 10.9.5 machine to see what is going on. Thanks for the report, a patch is coming **soon**!

[2017-04-20 18:03] manwhoami commented on #44
Closing due to inactivity

[2017-04-21 02:10] johnnash999 opened #53 "VNC - "There is not yet Linux support" Error"
MacBook-Air]-[~]  vnc
[-] There is not yet Linux support for a reverse VNC connection.

But it is my personal mac. and i have VNC installed in my MAC too.

[2017-04-21 02:18] manwhoami commented on #53
Quite strange. If you open a python console and enter the following:

`import platform`
`platform.system()`

What do you see?

[2017-04-21 16:43] johnnash999 commented on #53
Type "help", "copyright", "credits" or "license" for more information.

'Darwin'

I see this in my local mac, in python console.

[2017-04-21 16:54] manwhoami commented on #53
The error you are seeing is only printed when the following code is evaluated to true:

`if platform.system() == 'Linux'`

So I am not sure why you are seeing this issue, especially since it evaluates to Darwin in a normal shell.

[2017-04-21 17:07] johnnash999 commented on #53
oh! wait. i have the server installed in a ubuntu server :v is that why it is giving me that error ? :D

and i ran that in my mac, which is the victim ?

[2017-04-21 17:34] manwhoami commented on #53
So your Control Center is running on Ubuntu, and the actual payload is running on a mac.

Yes, this is expected. VNC support coming soon! (just have to integrate with Bella's automation functions)

[2017-04-21 17:34] #53 closed

[2017-04-23 18:27] kolya009 commented on #43
I'mm trying to follow everything but I don't know what I'm doing wrong on my Mac. Can you help?

[2017-04-23 21:51] iownbish opened #54 "ssl.SSLEOFError: EOF occurred in violation of protocol (_ssl.c:590)"
Listening for clients over port [5900]
	     [####################################################]
EOF occurred in violation of protocol (_ssl.c:590)
Traceback (most recent call last):
  File "Control Center.py", line 804, in <module>
    main()
  File "Control Center.py", line 196, in main
    raise e
ssl.SSLEOFError: EOF occurred in violation of protocol (_ssl.c:590)

been using the VNC port co

[2017-04-24 03:39] manwhoami commented on #54
Strange, I will look into this and post back here.

[2017-04-24 03:39] manwhoami commented on #54
Could you post your versions of OpenSSL and python SSL libraries?

[2017-04-24 03:45] manwhoami commented on #43
Tutorials will be coming soon!

@kolya009 please open a separate issue that describes what you need help with

[2017-04-24 03:49] kolya009 opened #55 "How to setup the port for other computers?"
So when setting up Bella, It asks for an ip address, what ip am I supposed to use? Then when running the control center.py, it says it's looking for other devices on the port "4545". How am I supposed to get other computers on that port? Maybe I'm over thinking this but I'm just really having a hard time.

[2017-04-24 04:38] manwhoami commented on #55
The IP address should be the IP of the computer that is running the Control Center, and port 4545 is the default port that Bella runs on. They will be sending out connections on that port as soon as you run the Bella payload on them, and the Control Center will be listening for these connections.

Does this help?

[2017-04-24 04:40] kolya009 commented on #55
I think it just might. I can try it in the morning and test it.
I'll update you later on

[2017-04-24 04:41] #55 closed

[2017-04-24 15:35] mineo210 opened #56 "My test Mac doesn't want to connect to the Control Center."
I've tried almost everything:
Removing the server via the test computer manually or
[code]
Everything worked before but after some of the update, it stopped :/

<h3>though Bella works and connects when I test localally</h3>
When I execute the payload on the host Mac it works as if I haven't port forwarded or something.

[2017-04-24 18:03] manwhoami commented on #56
Strange. Is the host mac on the same network as your control center? If so, does your control center have a firewall enabled?

[2017-04-24 19:06] mineo210 commented on #56
@manwhoami The test mac is over the internet but it has worked before but suddenly it stopped but locally example: (host: 192.168.1.2 and I'm the host so payload > 192.168.1.2 It basically works on the same computer with control center listening and the payload executed.) I'm not sure if the test mac works on the same network haven't tested that yet but I'm very sure that nothing is wrong with the

[2017-04-24 20:09] kolya009 opened #57 "how to delete bella completely"
How would I remove all traces of Bella from my mac? Does it also keep a log that I gained root access? Also, is there any indication that Bella was used in the Console.app?

[2017-04-25 14:45] iownbish commented on #54
uh @ ~ $ openssl version
OpenSSL 0.9.8zh 14 Jan 2016
uh @ ~ $ python --version
Python 2.7.13

[2017-04-26 01:54] barrett092 commented on #56
I also cannot get the host to connect to the control center. The host is on a VM but the IP is on the same network.

[2017-04-26 02:14] barrett092 commented on #56
After doing some digging - I can see the connection being refused in terminal. Do you know what would cause the refusal?

[2017-04-26 02:15] manwhoami commented on #56
@barrett092 terminal meaning bella's output? Or output from a command such as `netstat`?

Can you post this output please?

[2017-04-26 02:22] barrett092 commented on #56
this is the output when I launch the payload within the user library folder:

Starting Bella
Connecting
Connection refused

[2017-04-26 02:42] barrett092 commented on #56
Do you have skype (or something similar) ?

[2017-04-26 03:29] manwhoami commented on #56
@barrett092 @mineo210

It will say connection refused if it cannot establish a connection to your control center. The host (Bella) tries to connect **to** the control center, this way bypassing \*most\* firewalls. Most firewalls do not block outgoing connections, but do block incoming connections.

So, if the connection is being refused, a few reasons could be:

1. Your Control Center has a firewa

[2017-04-26 03:36] manwhoami commented on #57
Bella has a few anti-forensic functions built in, but nothing crazy advanced. If you gained root access via password phishing, there will be a log for this that Bella does not delete (but at first glance [and without referring to other logs to cross reference the time of login etc] this should be indistinguishable from say a normal login). If you gained root access via local privilege escalation,

[2017-04-26 03:36] #57 closed

[2017-04-26 05:19] idekwhoIam opened #58 "All clients gone."
I have a backdoor into one of my clients that is Bella, and I am getting a connection from that BD, but when I run Control Center, I dont get any, ANY connections from any of my clients, but when I upload a new Bella payload and run it from the other BD, it finds the client. I update the db with the password, it gets root, and after that, I dont get any connections, because Bella crashes after try

[2017-04-26 05:27] mineo210 commented on #56
I haven't enabled firewall or anything everything works but then it just stopped I know i have port forwarded cause my shell still works but my test Mac just won't connect to control center it doesn't show up in the "list thingy" where you ctrl-c and then choose the number.. It might be something blocking the connecting.. I can send some sort of video me trying to execute the payload via a shell b

[2017-04-26 05:40] manwhoami commented on #58
If I understand correctly, you try to gain root on host A using the local user password, host A goes through the process to get root, and then you can no longer access host A? Or is it that you can no longer access host B/C/D?

Can you post the output of `ps aux | grep python` on host A?

There could be a variety of things going on here, so as many details as possible would be very helpful.

[2017-04-26 05:44] manwhoami commented on #56
I am sorry, I am really not sure why this is happening.

If you run the Control Center, and then NMAP it from the test mac for port 4545, do you get an open response? What port is your shell running on?

[2017-04-26 05:44] idekwhoIam commented on #58
Well, my client went offline. But, I have 2 other users that were root, and earlier, I used the other backdoor I have on them, EggShell, I had it just listening, and Host B connected back to EggShell, but not to Bella. All 3 of my Hosts were root, and now they dont connect..

[2017-04-26 05:48] manwhoami commented on #58
Okay, using a shell other than Bella to access to these computers, navigate to the following location:

`/Library/Containers/.bella/`

and run `cat Bella` to print the contents of Bella. At the bottom of this content, you should see a variable `bella_version = '1.xx'`.

What version does this say for each of your hosts?

And then, what is the version of your control center? There is a similar vers

[2017-04-26 05:52] idekwhoIam commented on #58
I cant connect to one of the Hosts, as I removed all other backdoors :/
But my other 2 are currently offline. I will do this when they connect back, hopefully

[2017-04-26 05:53] manwhoami commented on #58
Gotcha, have you updated the Control Center recently without updating the remote hosts?

[2017-04-26 05:56] manwhoami commented on #58
Also, can you connect to Bella and then it crashes? Or can you just not see it in your control center list.

[2017-04-26 05:58] idekwhoIam commented on #58
Well, the main Host that brought me here, I was literally on his laptop, made the payload, and ran it from his laptop, all was working then, cus I was showing him stuff. He is not computer smart at all, and even asked if I hacked him, I said no, so I HIGHLY doubt he deleted Bella. I know thats a tad off topic, but his payload was made with the current version I have.. and my version is cc_version=

[2017-04-26 05:59] idekwhoIam commented on #58
"I was literally on his laptop, made the payload, and ran it from his laptop" meaning I was physically present doing it.

[2017-04-26 06:02] idekwhoIam commented on #58
I am going to try this locally on my laptop really quick.

[2017-04-26 06:04] manwhoami commented on #58
Okay, understood. Thanks for the report!

I am going to need more information, such as the remote Bella version, and what the output of the following command `ps aux | grep python` returns on the remote host.

Also, the file list of the following directories on the remote host:

`/Library/Containers/.Bella`
`/Users/initial_user/Library/Containers/.Bella`

[2017-04-26 06:05] idekwhoIam commented on #58
So for the file lists, you want me to run:
`ls /Library/Containers/`
and
`ls /Users/initial_user/Library/Containers/`
or do you want it with the `.Bella`?

[2017-04-26 06:06] manwhoami commented on #58
I would need it with the .Bella. If it returns an error, post that just the same.

[2017-04-26 06:06] idekwhoIam commented on #58
okay

[2017-04-26 06:09] manwhoami commented on #58
Also, you're running an old version of the control center. You should download the latest updates.

[2017-04-26 06:32] idekwhoIam commented on #58
I updated Bella, and am now waiting for my clients to connect, hopefully

[2017-04-26 06:33] idekwhoIam commented on #58
okay, my client is back online

[2017-04-26 10:07] mineo210 commented on #56
Shell is running on the port 2002 I'll try using nmap to see if 4545 is working.. I'll update any info asap

[2017-04-26 13:30] barrett092 commented on #56
I've tried almost everything but I'll continue to poke around.

For the record - EmpYre and other RATs work fine using the same setup and
port #

On Tue, Apr 25, 2017 at 11:29 PM, Noah <notifications@github.com> wrote:

--
Thanks,

Chris Barretto

[2017-04-26 16:14] idekwhoIam commented on #58
Okay, I got the output for 'ps aux | grep python' on one of my clients.

[code]
-=-=-=-
Output for `ls /Library/Containers/.Bella`:
[code]
-=-=-=-
Output for `ls /Users/Hussnain/Library/Containers/.Bella`:
[code]
I dont think I got root on this person, could be wrong.
I built a new payload with the new builder, bella, and control center. I am gonna try and grab root.

[2017-04-26 16:15] idekwhoIam commented on #58
Now there is a new error, I got the connection through bella with the new payload, and when I tried connecting, I got this a bunch:
[code]

[2017-04-26 18:05] manwhoami commented on #58
What version of bella is this remote host running?

[2017-04-26 18:06] idekwhoIam commented on #58
Newest, I literally updated Bella last night, and made a new payload today.

[2017-04-26 18:31] manwhoami commented on #58
The root version of Bella seems to have been running since Saturday, so the update may not have been successful possibly due to version conflicts.

Delete all bella instances on the remote machine:

`/Library/Containers/.bella`
`/Users/user/Library/Containers/.bella`

Delete both of these folders entirely, and then kill all python process with `killall -9 python`

Then, install a new payload, beca

[2017-04-26 18:40] idekwhoIam commented on #58
Can you DM me on twitter please, I have a python question. @_Synthx

[2017-05-01 16:57] ABorrello commented on #47
Thanks for the help, you were right, the version was out of date.

[2017-05-01 17:25] ABorrello commented on #44
Ok, I have had a chance to fully test this and here were my findings for several cases. All the tests were performed on an up-to-date MacBook Air. To check if a connection was open, I used `netstat -a`, and to kill python on the server and on the client, I used `killall -9 python`. My server is running on an up-to-date version of Kali Linux.

_Note: each test started with me opening the control ce

[2017-05-01 17:43] manwhoami commented on #44
@ABorrello this is great, thanks so much for the detailed report! I like your heartbeat idea. I will look into this and get back here.

[2017-05-03 10:08] KILLBULL opened #59 "Cannot run control center.py"
When I try to open control center I get this error n. 2

/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python: can't open file 'control': [Errno 2] No such file or directory

I tried also to run it with python launcher but with no success.
May I get any support?

[2017-05-03 11:38] ABorrello commented on #59
It looks like you are not escaping the space in the `Control Center.py` file name. As a result, python is looking for a file named `control` and it is passing `center.py` as an argument to said file.
To fix this, simply escape the space with the backward slash character (`\`).
Your command should look something along the lines of this `python Control\ Center.py`
Hope this helps!

[2017-05-03 12:02] KILLBULL commented on #59
This definitely helped!
Issue due to my inexperience. Thank you very much for you answer.

[2017-05-03 12:02] #59 closed